* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --color: white;
  --bg-var: url("./assets/bg-mobile.jpg");
  --bg-switch: url("./assets/sun.svg");
  --surface-color: rgba(255, 255, 255, 0.1);
  --surface-color-hover: rgba(255, 255, 255, 0.2);
  --stroke-color: rgba(255, 255, 255, 0.5);
}
.light {
  --color: black;
  --bg-var: url("./assets/bg-mobile-light.jpg");
  --bg-switch: url("./assets/moon-stars.svg");
  --surface-color: rgba(0, 0, 0, 0.1);
  --surface-color-hover: rgba(0, 0, 0, 0.2);
  --stroke-color: rgba(0, 0, 0, 0.5);
}
body {
  background: var(--bg-var) no-repeat top center/cover;
  height: 100vh;
}

body * {
  font-size: 500;
  font-family: "Inter", sans-serif;
  color: var(--color);
}
#containers {
  width: 588px;
  margin: 0 auto;
}
#profile {
  text-align: center;
  padding: 24px;
}

#profile img {
  width: 112px;
  height: 112px;
}

#switch {
  position: relative;
  width: 64px;
  margin: 4px auto;
}

#switch button {
  width: 32px;
  height: 32px;
  border: 0;
  border-radius: 50%;
  background: white var(--bg-switch) no-repeat center;
  position: absolute;
  z-index: 1;
  top: 50%;
  transform: translateY(-50%);

  animation: slide_back 0.2s;
}
.light #switch button {
  animation: slide_in 0.2s forwards;
}

#switch button:hover {
  outline: 8px solid var(--surface-color-hover);
}

#switch span {
  display: block;
  width: 64px;
  height: 24px;
  background: var(--surface-color);
  border: 1.5px solid var(--stroke-color);
  border-radius: 9999px;
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
}

ul {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 24px 0;
}

ul li {
  list-style: none;
  margin: 0 24px;
}

ul li a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  background: var(--surface-color);
  border: 1px solid var(--stroke-color);
  border-radius: 8px;
  padding: 16px 24px;

  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  transition: background 0.2s;
}

ul li a:hover {
  background: var(--surface-color-hover);
  border: 1.5px solid var(--color);
}

#social-links {
  display: flex;
  justify-content: center;
  padding: 24px 16px;
  font-size: 24px;
}

#social-links a {
  display: flex;
  justify-content: center;
  padding: 16px;
  border-radius: 50%;
  margin: 24px 16px;
  transition: background 0.2s;
}

#social-links a:hover {
  background: var(--stroke-color);
}
footer {
  text-align: center;
  padding: 24px;
}

@media (min-width: 700px) {
  :root {
    --bg-var: url("./assets/bg-desktop.jpg");
  }
  .light {
    --bg-var: url("./assets/bg-desktop-light.jpg");
  }
}

@keyframes slide_in {
  from {
    left: 0;
  }
  to {
    left: 50%;
  }
}

@keyframes slide_back {
  from {
    left: 50%;
  }
  to {
    left: 0;
  }
}
